<div class="sidebar" data-color="red" data-image="../assets/img/logo.png">
  <div class="logo">
    <a href="/" class="simple-text">
      <img src="../assets/img/logo-large.png" alt="Logo Pizzeria Don Mario" height="60" />
    </a>
  </div>

  <div class="sidebar-wrapper">
        <ul class="nav">
            <li routerLinkActive="active">
                <a [routerLink]="['pedidos']">
                    <i class="material-icons">dashboard</i>
                    <p>Pedidos</p>
                </a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['productos']">
                    <i class="material-icons">library_books</i>
                    <p>Productos</p>
                </a>
            </li>
            <li routerLinkActive="active">
                <a href="user.html">
                    <i class="material-icons">person</i>
                    <p>Usuarios</p>
                </a>
            </li>
            <li routerLinkActive="active">
                <a href="table.html">
                    <i class="material-icons">content_paste</i>
                    <p>Table List</p>
                </a>
            </li>
            <li>
                <a href="icons.html">
                    <i class="material-icons">bubble_chart</i>
                    <p>Icons</p>
                </a>
            </li>
            <li>
                <a href="maps.html">
                    <i class="material-icons">location_on</i>
                    <p>Maps</p>
                </a>
            </li>
            <li>
                <a href="notifications.html">
                    <i class="material-icons text-gray">notifications</i>
                    <p>Notifications</p>
                </a>
            </li>
        </ul>
  </div>
</div>
