<!--<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="main-panel">
      <app-navbar></app-navbar>
      <div class="content">
        <router-outlet name='content'></router-outlet>
      </div>
      
      <footer class="footer">
        <div class="container-fluid">
          <p class="copyright pull-right">
            <a [routerLink]="['/', {outlets: {'content': ['pedidos']}}]">Secondscreen</a>
            &copy; 2017 <a href="http://www.wilfredlemus.me" target="_blank">Wilfred Lemus</a>
          </p>
        </div>
      </footer>
    </div>
</div>-->